body {
    width: 100%;
    min-height: 200px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}
header {
    background-color: #20361e;
    color: white;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 3vw;
}
.container {
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    font-size: 3vw;
}
.article {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}
.article h2 {
    margin-top: 0;
}
.article p {
    margin-bottom: 10px;
}